@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dcam-blue: #216dab;
    --dcam-light-blue: #68ace3;
    --dcam-green: #4aad52;
    --dcam-orange: #e08e45;
    --dcam-red: #eb5160;
    --dcam-gray: #bfbfbf;
}

body {
    background-color: var(--dcam-blue);
    font-family: 'Roboto', sans-serif;
}

/* TOP SECTION STYLING */

#logo {
    width: 10%;
}


/* CREATE NEW ITEM FORM (top row) */

 #create-item-form {
    height: 40px;
}

#new-item-input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

#add-item-btn {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: var(--dcam-green);
    border: none;
    cursor: pointer;
}

#add-item-btn:hover {
    background-color: hsl(125, 40%, 50%);
}


/* TABLE STYLING */

#table-items-container {
    height: 75%;
}


/* TO DO ITEMS STYLING */

.to-do-item {
    border-radius: 5px;
    color: #eeeeee;
    list-style-type: none;
    padding: 5px 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 80% 20%;
    cursor: pointer;
}

.edit:hover, 
.delete:hover, 
.move:hover {
    rotate: 15deg;
}

/* UNIQUE STYLES */

#completed-column li {
    background-color: var(--dcam-green);
}

#hidden {
    display: none;
}


/* GLOBAL */

.bg-gray {
    background-color: var(--dcam-gray);
}

.high {
    background-color: var(--dcam-red);
}

.medium {
    background-color: var(--dcam-orange);
}

.low {
    background-color: var(--dcam-light-blue);
}



/* ============================================== */

/* media query specifying minimum screen width */

@media screen and (max-width: 1000px) {
    #wrapper {
      display: none;
    }

    #hidden {
        display: block;
    }
  }