@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: darkslategray;
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
}


#container {
    width: 95%;
    height: 90%;
    background-color: #bfbfbf;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 12fr;
}

#container > div {
    border: 1px solid darkslategray;
}

#create_item {
    grid-column: span 3;
    background-color: darkslategray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#form_fields {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #eee;
}

#todo_item_name {
    background-color: purple;
}

#new_item_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#new_item_container input {
    height: 80%;
    width: 100%;
    padding-left: 10px;
}

#button_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#button_container button {
    height: 80%;
    width: 100%;
    cursor: pointer;
}

.heading {
    display: grid;
    place-items: center;
    font-size: large;
}

.display {
    padding: 20px;
}

.to-do-item {
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    color: #eeeeee;
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.move {
    position: absolute;
    right: 10px;
}

.move:hover {
    rotate: 15deg;
}

.delete {
    position: absolute;
    right: 35px;
}

.edit {
    position: absolute;
    right: 56px;
}

.edit:hover {
    rotate: 15deg;
}

.delete:hover {
    rotate: 15deg;
}



.high {
    background-color: red;
}

.medium {
    background-color: orange;
}

.low {
    background-color: purple;
}

.gray {
    background-color: gray;
}

#btn_add_item {
    background-color: hsl(114, 57%, 36%);
    border: none;
}

#btn_add_item:hover {
    background-color: hsl(114, 57%, 38%);
}